@model TatilBlogum.Models.Sınıflar.Yorumlar

@{
    ViewBag.Title = "YorumGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yorum Getir</h2>
<br />
<!--BeginFormun altındaki kodlar Blogüncelle actionresult devreye girdiğinde çalışacak, adminde bulunuyor, post işlemleri olduğunda çalışır. -->
@using (Html.BeginForm("YorumGüncelle", "Admin", FormMethod.Post))
{
    //verileri buraya getiriyoruz.
    @Html.LabelFor(x => x.ID) //IDye dışarıdan müdahaleyi engellemek için @readonly=
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control", @readonly = "readonly" })

    @Html.LabelFor(x => x.KullaniciAdi) <!--Başlığın labeli ve textboxı tanımlandı-->
    @Html.TextBoxFor(x => x.KullaniciAdi, new { @class = "form-control" }) <!--css eklenmiş oldu.-->

    @Html.LabelFor(x => x.Mail)
    @Html.TextBoxFor(x => x.Mail, new { @class = "form-control" })

    @Html.LabelFor(x => x.Yorum)
    @Html.TextAreaFor(x => x.Yorum,15,1, new { @class = "form-control" })

   
    <br />
    <button class="btn btn-success"> Yorum Güncelle</button>
}
